body {
    margin: 0;
    padding: 0;
    background-image: url('NOW.jpg'); 
    background-size:contain ; 
       background-position: bottom; 
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-blend-mode: lighten;
  }